<div>
  <h1>Productos</h1>
</div>

<div>
  <p>Nombre: {{this.title}}</p>
  <p>Descripción: {{this.description}}</p>
  <p>Código: {{this.code}}</p>
  <p>Precio: $ {{this.price}}</p>
  <p>Status: {{this.status}}</p>
  <p>Stock: {{this.stock}}</p>
  <p>Categoría: {{this.category}}</p>
  <button id="btn_{{this._id}}">Agregar al carrito</button>
  <p>-------------------------</p>
  <!-- Hago esto para que el id del botón sea dinámico y no se borren todos al apretarlo.-->
</div>